div {
  h1 {
    font-size: 3em;
    color: green;
  }

  h2 {
    font-size: 2em;
  }
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
}

button {
  -webkit-app-region: no-drag;
}

.titlebar {
  -webkit-user-select: none;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}

.addButton{
  //mar:10px;
  background-color: red;
  color: green;
}

.lockButton {
  float: right;
  background-color: black;
  color: green;
}
.inlineEdit {
  min-width: 150;
  display: inline-block;
  margin: 0;
  padding: 0;
  //font-size: 0;
  outline: 0;
  border: 0;
}

.editing{
  // here is when active edit inline
  // then active css ..
}