div {
  h1 {
    font-size: 3em;
    color: green;
  }

  h2 {
    font-size: 2em;
  }
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
}

button {
  -webkit-app-region: no-drag;
}

.titlebar {
  -webkit-user-select: none;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}

.addButton {
  background-color: red;
  color: green;
}

.lockButton {
  float: right;
  background-color: black;
  color: green;
}

.inlineEdit {
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.33);
  font-size: 15px;
  text-align: center;
  margin-right: 15px;
  cursor: pointer;
}

.editing {
  position: relative;
  border: none;
  outline: none;
  background-color: transparent;
  color: #ff4081;
  font-size: 15px;
  text-align: center;
  margin-left: -15px;
  bottom: 2px;
  font-weight: bold;
  width: 100%;
  height: 100%;
}

.clipboard-btn {
  cursor: pointer;
  background: none;
  border: none;
  height: 30px !important;
  width: 35px !important;
  right: 0px !important;

  .clipboard-icon {
    color: #ff4081 !important;
  }
}

.clipboard-btn:focus {
  border: none !important;
  background: none;
  border: none;
  outline: 0;
}

.clipboard-icon {
  color: #ff4081 !important;
}

.listItem {
  cursor: default !important;
}

.listItem:hover {
  background: rgba(0, 188, 212, 0.15) !important;
}

.warningForEmpty {
  color: rgba(0, 0, 0, 0.29);
  margin-top: 220px;
  font-size: 24px;
}

.favorite-icon{
  color: rgba(245, 32, 32, 0.88) !important;
}

.settings{
  padding: 30px;
  font-size: 22px;
  color: rgba(255, 12, 12, 0.90);
  //font-family: Roboto,sans-serif;

}