div {
  h1 {
    font-size: 3em;
    color: green;
  }

  h2 {
    font-size: 2em;
  }
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
}

button {
  -webkit-app-region: no-drag;
}

.titlebar {
  -webkit-user-select: none;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}

.addButton{
  //mar:10px;
  background-color: red;
  color: green;
}

.lockButton {
  float: right;
  background-color: black;
  color: green;
}
.inlineEdit {
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  color: rgba(0,0,0,0.3);
  font-size: 30px;
}

.editing{
  // here is when active edit inline
  // then active css ..
  padding: 20;
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  color: rgb(0, 0, 0);
  font-size: 30px;
}